@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Poppins";
    src: url(../FontesAula10/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(../FontesAula10/Poppins/Poppins-ExtraBold.ttf);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(../FontesAula10/Poppins/Poppins-Light.ttf);
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url(../FontesAula10/openSans/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url(../FontesAula10/openSans/OpenSans-ExtraBold.ttf);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url(../FontesAula10/openSans/OpenSans-Light.ttf);
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: "Parisienne";
    src: url(../Fontes/Parisienne/Parisienne-Regular.ttf);
    font-weight: light;
    font-style: normal;
}

/* * {
    margin: 0,5rem;
    padding: 0,5rem;
    box-sizing: border-box;
} */
body,
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: light;
    background-color: #be98ed72;
}
header.cabecalho div.container {
    display: flex;
    justify-content: space-between;
  }
img.livro {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
div.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
}
nav.menu {
    margin-top: 10px;
}
nav.menu ul li a {
    color: #000;
    margin: 0 10px;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
}
h1 {
    text-align: center;
    font-size: 48px;
    font-family: "Parisienne";
    margin: 15px;
}
div.modulo {
    width: 100%;
    padding: 50px 0;
}
h2.subtitulo {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* Modulo Categorias */
div.categorias ul {
    display: flex;
    justify-content: center;
    list-style: none
}

div.categorias ul li a{
    display: inline-block;
    color: #fff;
    background-color: #01609C;
    padding: 7px 12px;
    margin: 0 3px;
    border-radius: 5px;
}
div.categorias ul li a:hover{
    transition: transform 0.3s;
    transform: scale(1.2);
    filter: brightness(0.95);
}

footer.rodape {
    width: 100%;
    padding: 15px 0;
    background-color: #333;
    text-align: center;
}
footer.rodape div.creditos {
    color: #fff;
}
/* Pagina Pedidos */

div.sugestao-texto {
    text-align: center;
}

div.form-container {
    width: 100%;
    margin: 15px 0;
}

input.form {
    width: 100%;
    min-height: 40px;
    font-size: 17px;
    text-indent: 10px;
}

textarea#sugestao {
    width: 100%;
}

input.form-botao {
    padding: 15px 30px;
    width: 100%;
    background-color: #ff8000;
    border: none;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.3s;
}

input.form-botao:hover {
    background-color: #ff8000;
}
